//Text block
#text-block {
    padding: 50px 0 50px;
    text-align: center;

    .text-info {
        width: 50%;
        margin: 0 auto;

        h1 {
            color: $orange-color;
            font-weight: 300;
            padding-bottom: 10px;
        }

        p {
            color: $dark-grey;
            font-size: 16px;
            padding-bottom: 20px;
        }

        a {
            color: $orange-color;
            font-weight: 700;
        }
    }
}

@media(max-width: 1020px) {

    #text-block {
        .text-info {
            width: 70%;
        }
    }

}